

KSQL_BOOTSTRAP_SERVERS=remote_bootstrap_server

# for TLS connection
KSQL_SECURITY_PROTOCOL=ssl
KSQL_SSL_KEYSTORE_TYPE=PKCS12
KSQL_SSL_KEYSTORE_LOCATION=/location/to/keystore.p12
KSQL_SSL_TRUSTSTORE_TYPE=JKS
KSQL_SSL_TRUSTSTORE_LOCATION=/location/to/truststore.jks
KSQL_KSQL_SERVICE_ID=dummy_service


# for TLS schema registry connection
KSQL_KSQL_SCHEMA_REGISTRY_URL=https://remote_ksql.com:port_number
KSQL_KSQL_SCHEMA_REGISTRY_SSL_TRUSTSTORE_LOCATION=/location/to/truststore.jks
KSQL_KSQL_SCHEMA_REGISTRY_SSL_TRUSTSTORE_PASSWORD=yoursecret
KSQL_KSQL_SCHEMA_REGISTRY_BASIC_AUTH_CREDENTIALS_SOURCE=USER_INFO
KSQL_KSQL_SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO=username:password
KSQL_SSL_KEY_PASSWORD=yoursecret
KSQL_SSL_TRUSTSTORE_PASSWORD=yoursecret
KSQL_SSL_KEYSTORE_PASSWORD=yoursecret
